* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* hero section start */
.hero-sec-h {
    font-size: 50px;
    padding-top: 30px;
}

.hero-h {
    padding-top: 30px;
    padding-bottom: 20px;
}

.clr {
    color: #FFA500;
}

.sec {
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-section-text {
    width: 50%;
    padding-left: 5%;
    padding-top: 70px;
}

.hero-sec-p {
    opacity: 70%;
}

.hero-section-img {
    width: 50%;
    padding-left: 10%;
}

.hero-section-img img {
    width: 85%;
}

.link-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.link-btn {
    border-radius: 5px;
    background-image: linear-gradient(#f05e45, #f8aa1a);
    border: none;
    /* width: 100px; */
    padding: 5px 35px;
    box-shadow: 0px 0px 10px rgb(189, 181, 181);
    margin-top: 30px;
}

/* hero section closed */

/* dream section start */
.dream-big {
    display: flex;
    margin-top: 50px;
    height: 100vh;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right top;

}

.dream-img {
    width: 50%;
    padding-left: 5%;
}

.dream-img img {
    width: 100%;
}

.dream-text {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.drm-h {
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: bold;
}

.drm-p {
    opacity: 70%;
    padding-top: 10px;
}